\newcommand{\supervisorfullname}{Mario Rossi}
\newcommand{\studentfullname}{Mario Rossi}
\newcommand{\birthplace}{Roma}
\newcommand{\birthdate}{01/01/1980}
\newcommand{\thesisdate}{24/07/2026}
\newcommand{\studentnumber}{12345678}
\newcommand{\signatureimg}{assets/john_doe_signature.png}
